Django==2.2.4
django-excel==0.0.10
django-report-builder==6.3.2
djangorestframework==3.10.2
et-xmlfile==1.0.1
jdcal==1.4.1
lml==0.0.9
openpyxl==2.6.3
psycopg2-binary==2.8.3
pyexcel==0.5.15
pyexcel-io==0.5.20
pyexcel-webio==0.1.4
python-dateutil==2.8.0
pytz==2019.2
six==1.12.0
sqlparse==0.3.0
texttable==1.6.2
xlrd==1.2.0
