<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
    {% load staticfiles %}

	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
  <!--external css-->
  <!-- font icon -->
  <link href="{% static 'login/css/font-awesome.min.css' %}" rel="stylesheet" >
  <!-- Custom styles -->
  <link href="{% static 'login/css/main.css' %}" rel="stylesheet">
  <link href="{% static 'login/css/util.css' %}" rel="stylesheet" >

</head>
<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form"  method="post" action="{% url 'app:signin'%}" >
          {% csrf_token %}
					<span class="login100-form-title p-b-43">
						Login
					</span>

					
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="username">
						<span class="focus-input100"></span>
						<span class="label-input100">Username</span>
					</div>
					
					
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="pass">
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					</div>  

					<div class="container-login100-form-btn">
						<button type = "submit" class="login100-form-btn" >
							Login
						</button>
					</div>
					

				</form>

				<div class="login100-more" style=" background-image: url('https://ibb.co/C8FFZRN');">
				</div>
			</div>
		</div>
	</div>
	
  <script src="{% static 'login/js/jquery.js' %}"></script>
  <script src="{% static 'login/js/bootstrap.min.js' %}"></script>
  <!-- nice scroll -->
  <script src="{% static 'login/js/jquery.scrollTo.min.js' %}"></script>
  <script src="{% static 'login/js/jquery.nicescroll.js' %}" type="text/javascript"></script>
  <!--custome script for all page-->
  <script src="{% static 'login/js/main.js' %}"></script>


	
</body>
</html>