{% extends "dash.html" %}
{% block title %}::Accounts::{% endblock %}
{% block das %}active{% endblock %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

  {% block jquery %}
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
<script type='text/javascript'>
    // Call hideShow when page is loaded
    $(document).ready(function(){
        hideShow()
    })

    // call hideShow when the user clicks on the component_type dropdownlist
    $('#id_act_acc_code').click(function(){
        hideShow()
    });

function hideShow(){
    if(document.getElementById('id_act_acc_code').value == "6")
    {
        $('#id_act_lrno').hide();
        alert("PLEASE DO NOT MENTION SALARY , OT , SUNDAY WORKING , Etc ... IN NARRATION. !!");
    }
    else if(document.getElementById('id_act_acc_code').value == "7")
    {
        $('#id_act_lrno').show();
    }else if(document.getElementById('id_act_acc_code').value == "8")
    {
        $('#id_act_lrno').show();
    }else if(document.getElementById('id_act_acc_code').value == "10")
    {
        $('#id_act_lrno').show();
    }else if(document.getElementById('id_act_acc_code').value == "11")
    {
        $('#id_act_lrno').show();
    }else if(document.getElementById('id_act_acc_code').value == "62")
    {
        $('#id_act_lrno').show();
    }else if(document.getElementById('id_act_acc_code').value == "63")
    {
        $('#id_act_lrno').show();
    }else if(document.getElementById('id_act_acc_code').value == "30")
    {
        $('#id_act_lrno').show();
    }else if(document.getElementById('id_act_acc_code').value == "36")
    {
        $('#id_act_lrno').show();
    }else if(document.getElementById('id_act_acc_code').value == "89")
    {
        $('#id_act_lrno').show();
    }else if(document.getElementById('id_act_acc_code').value == "9")
    {
        $('#id_act_lrno').show();
    }else if(document.getElementById('id_act_acc_code').value == "54")
    {
        $('#id_act_lrno').show();
    }else if(document.getElementById('id_act_acc_code').value == "17")
    {
        $('#id_act_lrno').show();
    }else if(document.getElementById('id_act_acc_code').value == "45")
    {
        $('#id_act_lrno').show();
    }else if(document.getElementById('id_act_acc_code').value == "25")
    {
        $('#id_act_lrno').show();
    }else if(document.getElementById('id_act_acc_code').value == "96")
    {
        $('#id_act_lrno').show();
    }else if(document.getElementById('id_act_acc_code').value == "95")
    {
        $('#id_act_lrno').show();
    }else 
    {
        $('#id_act_lrno').hide();
    }
}


</script>
{% endblock %}


<div class="container">
  <h2>Payment Voucher</h2>
  <br>
  <!-- Nav pills -->
  <ul class="nav nav-pills" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="pill" href="#home">Payment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'accounts:receipt' %}">Receipt</a>
    </li>
  </ul>



  <!-- Tab panes -->
  <div class="tab-content">
    <div id="home" class="container tab-pane active"><br>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="text-white mb-5">Payment Voucher</h3>
                    <br>
                      <form method="post">
                        {% csrf_token %}
                        <div class="form-row">
                          <div class="form-group col-md-12 mb-0">
                            {{ form.act_whmcode|as_crispy_field }}
                          </div>
                          <div class="form-group col-md-12 mb-0">
                            {{ form.act_vrno|as_crispy_field }}
                          </div>
                          <div class="form-group col-md-12 mb-0">       
                            {{ form.act_pay|as_crispy_field }}
                          </div>
                          <div class="form-group col-md-12 mb-0">
                            {{ form.act_month|as_crispy_field }}
                          </div>
                          <div class="form-group col-md-12 mb-0">
                            {{ form.act_acc_code|as_crispy_field }}
                          </div id="lr"> 
                          <div class="form-group col-md-12 mb-0">
                            {{ form.act_lrno|as_crispy_field }}
                          </div>
                          <div class="form-group col-md-12 mb-0">
                            {{ form.act_narration|as_crispy_field }}
                          </div>
                          <div class="form-group col-md-12 mb-0">
                            {{ form.act_cash_pymnt|as_crispy_field }}
                          </div>
                          <div class="form-group col-md-12 mb-0">
                            {{ form.act_balance|as_crispy_field }}
                          </div>
                        </div>
                        <button style = "border-radius:6px;" type="submit">Add</button>
                        </form>
                </div>
            </div>
          </div>

    </div>
  </div>
</div>

  <script src="{% static 'app/js/jquery.js' %}"></script>
  <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
  <!-- nice scroll -->
  <script src="{% static 'app/js/jquery.scrollTo.min.js' %}"></script>
  <script src="{% static 'app/js/jquery.nicescroll.js' %}" type="text/javascript"></script>
  <!--custome script for all page-->
  <script src="{% static 'app/js/scripts.js' %}"></script>




<style>
h3
{
    color: #fff;
}
container
{
    width:500px;
    padding-top:50px;
    color: #fff;
}
form{
  color: #fff;
  width: 500px;
}
</style>
{% endblock %}
